%h1
  = @page_title = "Contact"
#about
  %p
    Want to get in touch?  Pick your poison.
  %ul
    %li= link_to "Twitter", "http://twitter.com/matt_mueller"
    %li= link_to "Facebook", "http://facebook.com/mattrmueller"
    %li= link_to "Linkedin", "http://www.linkedin.com/in/mrmueller"
    %li
      Google Talk: muellermr[at]gmail[dot]com
    %li
      Email: muellermr[at]gmail[dot]com
